<div style="text-align:center">
  <h1> Your toast is...</h1><br/>
  <h5>{{message}}</h5><br />
  <img src={{url}} /> <br /><br />
  <button class="btn btn-outline-primary" onClick="window.location.href = window.location.origin">Return</button>
</div>
